/*
=============== 
Grocery List
===============
*/
.section-center {
	width: 85vw;
	background: var(--clr-white);
	border-radius: var(--radius);
	box-shadow: var(--light-shadow);
	transition: var(--transition);
	padding: 2rem;
	margin-top: 8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.section-center:hover {
	box-shadow: var(--dark-shadow);
}
.alert {
	margin-bottom: 1rem;
	height: 1.25rem;
	display: grid;
	align-items: center;
	text-align: center;
	font-size: 0.7rem;
	border-radius: 0.25rem;
	letter-spacing: var(--spacing);
	text-transform: capitalize;
}
.alert-danger {
	color: #721c24;
	background: #f8d7da;
}
.alert-success {
	color: #155724;
	background: #d4edda;
}
.imageBlock {
	position: relative;
	display: flex;
	margin-bottom: 2rem;
	align-items: center;
	justify-content: space-between;
}
.imageBlock span {
	position: absolute;
	right: 0;
	top: 23px;
	width: 35px;
	height: 35px;
	border: 3px solid #088f9e;
	border-radius: 100%;
	background-color: var(--clr-primary-8);
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cartImage {
	display: block;
	width: 55px;
}
.grocery-title {
	color: var(--clr-primary-1);
}

.empty-cart {
	color: var(--clr-primary-1);
	font-size: 25px;
	text-transform: lowercase;
	color: #f8d7da;
}

.form-control {
	display: flex;
	justify-content: center;
}
.grocery {
	padding: 0.25rem;
	padding-left: 1rem;
	background: var(--clr-grey-10);
	border-top-left-radius: var(--radius);
	border-bottom-left-radius: var(--radius);
	border-color: transparent;
	font-size: 1rem;
	flex: 1 0 auto;
	color: var(--clr-grey-5);
}
.grocery::placeholder {
	font-family: var(--ff-secondary);
	color: var(--clr-grey-5);
}
.submit-btn {
	background: var(--clr-primary-8);
	border-color: transparent;
	flex: 0 0 5rem;
	display: grid;
	align-items: center;
	padding: 0.25rem;
	text-transform: capitalize;
	letter-spacing: 2px;
	border-top-right-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
	cursor: pointer;
	content: var(--clr-primary-5);
	transition: var(--transition);
	font-size: 0.85rem;
}
.submit-btn:hover {
	background: var(--clr-primary-5);
	color: var(--clr-white);
}

.grocery-container {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
}

.grocery-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0rem;
	transition: var(--transition);
	padding: 0.25rem 1rem;
	border-radius: var(--radius);
	text-transform: capitalize;
}

.grocery-item:hover {
	color: var(--clr-grey-5);
	background: var(--clr-grey-10);
}
.grocery-item:hover .title {
	color: var(--clr-grey-5);
}
.title {
	margin-bottom: 0;
	color: var(--clr-grey-1);
	letter-spacing: 1px;
	transition: var(--transition);
}
.title.complete {
	text-decoration: line-through;
}
.btn-container {
	display: flex;
}
.edit-btn,
.delete-btn,
.mark-btn,
.amount-btn {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	font-size: 0.7rem;
	margin: 0 0.15rem;
	transition: var(--transition);
}
.edit-btn {
	color: var(--clr-green-light);
}
.edit-btn:hover {
	color: var(--clr-green-dark);
}
.delete-btn {
	color: var(--clr-red-light);
}
.delete-btn:hover {
	color: var(--clr-red-dark);
}
.amount-btn {
	font-size: 1.2rem;
	display: flex;
}
.clear-btn {
	background: transparent;
	padding: 0.5rem 1rem;
	color: var(--clr-red-dark);
	border: 1px solid var(--clr-red-dark);
	margin-top: 2.25rem;
	border-radius: var(--radius);
	max-width: 150px;
	align-self: center;
}
.clear-btn:hover {
	background: var(--clr-red-light);
	color: var(--clr-red-dark);
	border-color: var(--clr-red-light);
}
.title-container {
	display: flex;
	overflow: hidden;
}
.title-price-wrapper {
	margin-left: 0.3rem;
}
.footer {
	margin-top: 4rem;
	text-align: center;
}
.cart-total h4 {
	text-transform: capitalize;
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}
.btn-amount-wrapper {
	display: flex;
	align-items: center;
}
.amount-btn {
	width: 1.5rem;
	background: transparent;
	border: none;
	cursor: pointer;
}
.amount-btn svg {
	fill: var(--clr-primary);
}
.amount-btn:hover svg {
	fill: var(--clr-primary-light);
}
.amount {
	text-align: center;
	margin-bottom: 0rem;
	font-size: 1.25rem;
	line-height: 1;
}
hr {
	background: var(--clr-grey-5);
	border-color: transparent;
	border-width: 0.25px;
}

@media screen and (max-width: 670px) {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1rem;
	}
	h4 {
		font-size: 0.5rem;
	}
}

@media screen and (max-width: 470px) {
	p {
		font-size: 0.8rem;
	}
	.submit-btn {
		font-size: 0.7rem;
	}
	.grocery {
		font-size: 0.9rem;
	}
	.grocery-title {
		font-size: 1.4rem;
	}
	.empty-cart {
		font-size: 1.3rem;
	}
	.grocery-item {
		padding: 0;
	}
}
